@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700;800;900&family=Lato:wght@300;400;700;900&display=swap');

:root{
  --PrimaryColor: #5ab886;
  --WhiteColor: #fff;
  --fontColor: #2a251f;
  --TitleFont: 'Varela Round', sans-serif;
  --BodyFont: 'Ubuntu', sans-serif;
}
// .light-theme{
//   --PrimaryColor: rgb(207,61,54);
//   --SecondaryColor: #d9d9d9;
//   --CommonColor: #f7f7f7;
//   --DarkColor: rgb(5,5,5);
//   --WhiteColor: rgb(3,3,3);
//   --GradiendColor: 255, 255, 255;
//   --TitleFont: 'Barlow', sans-serif;
//   --BodyFont: 'Lato', sans-serif;  
//   // .hero_wrapper{
//   //   display: none !important;
//   // }
// }

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
body{
  color: var(--fontColor);
  font-size: 16px;
  background-color: var(--WhiteColor);
  font-family: var(--BodyFont);
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: #000;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
}
h1, h2, h3, h4, h5, h6, a{
  font-family: var(--TitleFont); 
}
img{
  position: relative !important;
  width: auto !important;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: var(--fontColor);
}
.view_all{
  font-size: 12px;
}
.ptLarge{
  padding-top: 10.5rem;
}
.pbLarge{
  padding-bottom: 10.5rem;
}

.container{
  max-width: 470px;
  margin: 0 auto;
}

.d-flex{
  display: flex;
}
.inline-flex{
  display: inline-flex;
}
.align-items-center{
  align-items: center;
}
.align-items-start{
  align-items: flex-start;
}
.align-items-end{
  align-items: flex-end;
}
.justify-content-center{
  justify-content: center;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-start{
  justify-content: flex-start;
}
.justify-content-end{
  justify-content: flex-end;
}
.flex-column{
  flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}

.global_button{
  padding: 20px 50px;
  background-color: var(--PrimaryColor);
  color: var(--WhiteColor);
  border-radius: 50px;
  font-size: 16px;
  text-transform: capitalize;
  display: inline-block;
  border: none;
  outline-style: none;
  &.float{
    padding: 10px 25px;
    display: block;
    width: 100%;
    position: sticky;

    bottom: 0;
    left: 0;


  }
}

.recipes_wrapper{
  width: 100%;
  padding: 30px 20px 0;
}

.main_area{
  width: 100%;
  h2{
    font-size: 16px;
  }
}
.scroll_area{
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  &::-webkit-scrollbar {
    display: none;
  }
}


html{
  font-size: 42%;
}

.today_receipe_wrapper{
  h2{
    font-size: 18px;
  }
}
.today_receipe_card{
  width: 100%;
  margin-top: 20px;
  
}


.recipe_details_wrapper{
  width: 100%;
}

.back{
  width: 60px;
  height: 60px;
  background-color: var(--WhiteColor);
  background-image: url(/images/back.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 100%;
}

.ovarlay{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.6);
  opacity: 0;
  visibility: hidden;
  transition: all .5s linear;
  &.open{
    opacity: 1;
    visibility: visible;
  }
}



